@model IEnumerable<attendance_beta2.Models.Routine>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Courses.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Semesters.Level)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Teachers.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Day)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Room)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Courses.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Semesters.Level)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Teachers.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Day)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Room)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClassType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RoutineId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RoutineId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RoutineId })
        </td>
    </tr>
}

</table>
