@model attendance_beta2.Models.teacher_course

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>teacher_course</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Courses.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Courses.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Teachers.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teachers.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Teacher_Course_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
