@using attendance_beta2.Models
@model List<attendance_beta2.Models.Attendance>

@{
    /**/

    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

    @*<input type="hidden" name="[0].RoutineId" value="@ViewBag.RoutineId" />*@
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().StudentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().punchTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Present)
            </th>
        </tr>

    @for (int i = 0; i < Model.Count(); i++)
    {
        <tr>
            <td>
                @Html.HiddenFor(x => Model[i].StudentId)
                @Html.DisplayFor(modelItem => Model[i].StudentName)
            </td>
            <td>
                @Html.HiddenFor(x => Model[i].punchTime)
                @Html.DisplayFor(modelItem => Model[i].punchTime)
            </td>
            <td>
                @Html.HiddenFor(x => Model[i].Present)
                @Html.DisplayFor(modelItem => Model[i].Present)
            </td>
            @*<td>
            @Html.ActionLink("Edit", "Edit", new { id = item.AttendanceId }) |
            @Html.ActionLink("Details", "Details", new { id = item.AttendanceId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.AttendanceId })
        </td>*@
        </tr>
    }

    </table>
    
